/* General Styles */
.refund-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .refund-title {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
  }
  
  .refund-content {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .refund-section {
    margin-bottom: 20px;
  }
  
  .refund-section h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #2c3e50;
  }
  
  .refund-section p {
    font-size: 1em;
    line-height: 1.6;
    color: #4a4a4a;
  }
  
  .refund-section ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  .refund-section ul li {
    margin-bottom: 10px;
    font-size: 1em;
    color: #4a4a4a;
  }
  
  .refund-section a {
    color: #3498db;
    text-decoration: none;
  }
  
  .refund-section a:hover {
    text-decoration: underline;
  }
  